<div class="parent">
  <div class="div1"> </div>
  <div class="div2"> </div>
  <div class="div3"> </div>
  <div class="div4">
    <div class="card" style="width: 18rem;">
      <form method="POST" class="form">
        <h1>Ingresar al Sistema</h1>
        <div class="mb-3 form-group">
          <label for="Email" class="form-label">Email
              address - Username</label>
          <input formControlName="user" type="email" class="form-control" type="text" 
          id="Email name">
          <div id="emailHelp" class="form-text">We'll never share
              your
              email with anyone else.</div>
      </div>
      <div class="mb-3 form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control" id="Password">
      </div>
      <div class="list-group">
          <button type="submit" class="btn button-login" data-bs-dismiss="modal">Login</button>
      </div>
      </form>
    </div>
  </div>
  <div class="div5"> </div>
</div>